body {
  font-size: 10em;
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: red;
}

.game-board {
  margin: 10% 0;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.cell {
  border: 1px solid black;
  height: 200px;
  width: 200px;
}
