body {
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: red;
  font-size: 5em;
}

.game-board {
  font-size: 10em;
  width: 600px;
  margin: auto;
}

/* .row-1, .row-2, .row-0 */
.row{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* col-0, col-1, col-2 */
.row-1{
  border: solid green;
  border-width: 3px 0;
}

.cell {
  /* border: 1px solid black; */
  height: 200px;
  width: 200px;
}

.col-1 {
  border: solid purple;
  border-width: 0 3px;
}
